ci:
    autofix_commit_msg: |
        chore(pre-commit): auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: CHANGELOG.md
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-yaml
        exclude: CHANGELOG.md
    -   id: check-added-large-files
        exclude: CHANGELOG.md

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.0
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
    -   id: black
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
    -   id: reorder-python-imports

default_language_version:
  python: python3.9
