asyncio==3.4.3
httpx == 1.0.0b0
nest-asyncio==1.5.6
pedalboard==0.6.2
python-socketio[client]==5.7.1
python_dotenv == 0.21.0
rich == 12.6.0
sentry-sdk==1.9.9
git+https://github.com/jps-aldridge/py-simple-audio@master#egg=simpleaudio
SoundFile==0.11.0
twitchAPI==2.5.7.1
wheel==0.37.1
