---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RIP Solrock.</title>
	</head>
	<body class="bg-black text-white">
		<div class="ml-auto mr-auto mt-3">
			<img src="/mmattDonk.webp" alt="mmattDonk" class="w-40 ml-auto mr-auto" />
			<h1 class="text-4xl text-center font-bold">🪦 Here lies Solrock 🪦</h1>
			<div class="ml-auto mr-auto max-w-xl flex flex-col gap-3">
			<p>Unfortunately, due to recent changes in TTS providers we rely on, <span class="font-bold">I have made the decision for the Solrock service to shutdown.</span></p>
			<p>Here are some similar services that may provide a similar experience to Solrock:</p>
			<ul class="list-disc list-inside">
				<li><a class="font-bold p-1 rounded-xl bg-white text-black" href="https://tangia.co/custom-tts">Tangia</a> - Custom TTS (free)</li>
				<li><a class="font-bold p-1 rounded-xl bg-white text-black"  href="https://tts.monster">TTS.monster</a> (free up to 400 messages/month, upgrade to $24/month for 1000 messages/month, upgrade to $30/month for unlimited messages | most similar to Solrock)</li>
				<li><a class="font-bold p-1 rounded-xl bg-white text-black"  href="https://ttslabs.ai">TTS Labs</a> (free up to 400 messages/month, only 10 enabled voices. upgrade to $25/month for full access</li>
			</ul>
			<p>The open source repository is still available at <a class="font-bold p-1 rounded-xl bg-white text-black"  href="https://github.com/mmattDonk/AI-TTS-Donations">github.com/mmattDonk/AI-TTS-Donations</a>, and anyone is welcome to contribute or fork.</p>
			<p>The <a class="font-bold p-1 rounded-xl bg-white text-black"  href="https://docs.solrock.mmattdonk.com">documentation</a> has been updated to include self hosting guides, if you'd like to continue using Solrock yourself.</p>
			<p>Thank you so much to all 4500+ streamers that used Solrock, I didn't intend for this to get too big, obviously. But I'm glad I could provide this service for free to you all, as <span class="font-bold">no other service has managed to give everything that Solrock did for free.</span> and I'm glad about that.</p>
			<p>If you want to still keep up with me, I'm building a new app right now: <a class="font-bold p-1 rounded-xl bg-white text-black" href="https://songish.app">Songish</a>, check it out :)</p>
		</div>
		</div>
	</body>
</html>
